RewriteEngine On
RewriteBase /bible/

RewriteRule ^([1-3]?[a-zA-Z]+)/?$ index.php?book=$1
RewriteRule ^([a-zA-Z]+)/([0-9]+)/?$ index.php?book=$1&chapter=$2
RewriteRule ^([a-zA-Z]+)/([0-9]+)/([0-9]+(\-[0-9]+)*)/?$ index.php?book=$1&chapter=$2&verse=$3
RewriteRule ^([a-zA-Z]+)/([0-9]+):([0-9]+(\-[0-9]+)*)/?$ index.php?book=$1&chapter=$2&verse=$3
