body {
  background-image: url(sueback.jpg);
  font-family: Arial, sans-serif;
  font-size: medium;
  }
  div.c1 {text-align: center}
  .chaptertitle{ font-size: large; font-weight: bold; }
  .highlighted { background: yellow; }
